@page "/team/{Color}"
@using CN_Together.Data.Interfaces;
@inject IRoomManager RoomManager
@inject NavigationManager NavigationManager
@inject IJSRuntime JsRuntime

<PageTitle>CN-Team: @this.Color</PageTitle>

<div style="color:@this.Color">
    Welcome in team @this.Color !
</div>

@if (!this.showContent)
{
    <div>...enemy is  thinking</div>
}
else
{

    <div style="margin:30px"></div>

    @if (this.giveHint)
    {
        <label>
            <input type="text" @onchange="this.ChangeHint">
        </label>
        <select name="Number" style="height:30px" @onchange="@this.ChangeNumber">
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="∞">∞ </option>
        </select>

        <div style="margin:30px"></div>

        <button @onclick="this.RequestHint" style="border-color:@this.Color; background-color:transparent">
            Send hint
        </button>

        <div style="margin:30px"></div>

        <div>
            <b style="color:@this.Color">Rules:</b>
            Your clue must be only one word. You are not allowed to give extra hints. For example, don't say, "This may be a bit of a stretch…" You are playing Codenames. It's always a bit of a stretch.
            Your clue cannot be any of the codenames visible on the table. On later turns, some codenames will be covered up, so a clue that is not legal now might be legal later.
        </div>
    }
    else
    {
        <div>New Request:</div>
        <div>@EnemyHint.Message @this.EnemyHint.Number</div>
        <button @onclick="this.AcceptEnemyHint">Acceps</button>
        <button @onclick="this.DenyEnemyHint">Deny</button>
    }
}

<div>
    <button @onclick="this.Logout" style="position:absolute; top:10px; right:10px; background-color:transparent">Logout</button>
</div>