@page "/"
@using CN_Together.Data.Interfaces;
@inject NavigationManager NavigationManager
@inject IRoomManager RoomManager

<PageTitle>Codenames together!</PageTitle>

<div style="align-content:flex-end">
     <div>
        Hints:
        <table width="300px">
            @foreach (var hint in this.RoomManager.Hints)
            {
                <tr>
                    <th style="color: @hint.Team">@hint.Message</th>
                    <th style="color: @hint.Team">@hint.Number</th>
                </tr>
            }
        </table>
    </div>
    <button @onclick="this.ResetRoom" style="margin-top: 200px">
        Reset the chat
    </button>
</div>

<div style="align-content:flex-end">
    <div>
        Scan the QR-Code to join a team:
    </div>
    <div class="modal-content">
        <img src="@QRCodeString" style="width: 300px; height: 300px" />
    </div>
</div>

